@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  font-family: "Overpass", "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
  line-height: 98px;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.2px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.64px;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: "Ubuntu";
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.button-active {
  background-color: white;
  color: #FF505C;
  padding: 15px 40px;
  border-radius: 28px;
}

.button-active:hover {
  background-color: #FF7B86;
  color: #fff;
  opacity: 1;
}

header {
  border-radius: 0 0 0 100px;
  position: absolute;
  width: 100%;
  z-index: 20;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 59px;
}
header nav .left-nav {
  display: flex;
  align-items: center;
  gap: 64px;
}
header nav .left-nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 32px;
}
header nav .left-nav ul .main-nav-heading .arrow {
  margin-left: 8px;
}
header nav .left-nav ul .main-nav-heading .arrow-image-dark {
  display: none;
}
header nav .left-nav ul .main-nav-heading a {
  font-family: "Ubuntu";
  font-weight: 700;
  color: white;
  padding-bottom: 25px;
  opacity: 0.75;
}
header nav .left-nav ul .main-nav-heading .dropdown-menu {
  display: none;
  position: absolute;
  transform: translateX(-25px);
  background-color: white;
  padding: 24px;
  min-width: 120px;
  border-radius: 5px;
  margin-top: 20px;
}
header nav .left-nav ul .main-nav-heading .dropdown-menu a {
  color: #2D2E40;
  font-size: 15px;
  font-weight: 400;
  line-height: 33px;
  font-family: "Ubuntu", "Overpass";
}
header nav .left-nav ul .main-nav-heading .dropdown-menu a:hover {
  font-weight: 700;
}
header nav .left-nav ul .main-nav-heading:hover > a {
  text-decoration: underline;
  opacity: 1;
}
header nav .left-nav ul .main-nav-heading:hover > a .arrow-image-light {
  transform: rotate(180deg);
  transition: 0.6s;
  opacity: 1;
}
header nav .left-nav ul .main-nav-heading:hover > .dropdown-menu {
  display: block;
}
header nav .right-nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}
header nav .right-nav ul #login:hover {
  opacity: 0.75;
}
header nav .hamburger-icon {
  display: none;
}

#hero {
  width: 100%;
  background: url(assets/bg-pattern-intro.svg), linear-gradient(90deg, rgb(255, 143, 112) 10%, rgb(255, 61, 84) 58%);
  height: 600px;
  background-size: 3100px;
  background-position: -351px -1346px;
  border-radius: 0 0 0 75px;
  color: white;
}
#hero .hero-content {
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}
#hero .hero-content .headings {
  margin-bottom: 43px;
}
#hero .hero-content .headings h1 {
  margin: 0;
}
#hero .hero-content .headings h4 {
  margin: 0;
  text-align: center;
}
#hero .hero-content .hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
#hero .hero-content .hero-buttons #start-hero-button {
  padding: 15px 16px;
}
#hero .hero-content .hero-buttons #learn-hero-button {
  border-radius: 28px;
  border: 1px solid #fff;
  padding: 15px 25px;
}
#hero .hero-content .hero-buttons #learn-hero-button:hover {
  background-color: #fff;
  color: #FF7B86;
  opacity: 1;
}

#slot-1 {
  margin: 71px 0 213px;
}
#slot-1 .content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 0.5fr 1fr;
  position: relative;
  -moz-column-gap: 165px;
       column-gap: 165px;
}
#slot-1 .content h2 {
  color: #1F3E5A;
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 79px 0 0;
}
#slot-1 .content .copy {
  max-width: 540px;
  text-align: left;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0 auto;
}
#slot-1 .content .copy section {
  margin-bottom: 64px;
}
#slot-1 .content .copy section h3 {
  color: #1F3E5A;
  margin: 0 0 16px;
}
#slot-1 .content .copy section p {
  color: #4C5862;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  margin: 0;
}
#slot-1 .content picture {
  grid-row: 1/3;
  grid-column: 2/3;
  max-width: 880px;
  max-height: 882px;
  position: absolute;
  right: -240px;
}

#slot-2 {
  background: linear-gradient(90deg, rgb(44, 45, 63), rgb(63, 65, 96));
  border-radius: 0 100px;
  height: 400px;
}
#slot-2 .infrastructure {
  display: grid;
  grid-template-columns: auto auto;
  background: url(assets/bg-pattern-circles.svg);
  height: 100%;
  background-position: -225px -500px;
  background-repeat: repeat-y;
  color: white;
  position: relative;
  z-index: 1;
  justify-content: center;
  -moz-column-gap: 98px;
       column-gap: 98px;
}
#slot-2 .infrastructure img {
  transform: translateY(-49px);
}
#slot-2 .infrastructure article {
  max-width: 540px;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(50%);
}
#slot-2 .infrastructure article h2 {
  margin-bottom: 5px;
}

#slot-3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  height: 786px;
  margin: 116px 0 123px;
}
#slot-3 picture {
  position: relative;
  max-width: 699px;
  left: -275px;
  grid-row: 1/3;
}
#slot-3 article {
  grid-row: 1/3;
  max-width: 540px;
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 75px 0 0;
  padding: 70px 0;
  display: flex;
  align-items: flex-start;
  gap: 184px;
  justify-content: center;
}
footer nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 825px;
}
footer nav h4 {
  margin-bottom: 21px;
  color: #fff;
}
footer nav a {
  color: #fff;
  opacity: 0.75;
  line-height: 33px;
  font-size: 15px;
  font-family: "Ubuntu";
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */