@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@mixin breakpoint($device) {
  @if $device ==desktop {
    @media screen and (min-width: 1024px) {
      @content
    }
  }

  @else if $device ==tablet {
    @media screen and (min-width: 415px) and (max-width: 1023px) {
      @content
    }
  }

  @else if $device ==mobile {
    @media screen and (max-width: 414px) {
      @content
    }
  }
}

$header-font-color: #1F3E5A;
$copy-color: #4C5862;



:root {
  font-family: "Overpass", "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  font-family: "Ubuntu", "Overpass";
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
  line-height: 98px;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.2px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.64px;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Ubuntu';
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.button-active {
  background-color: white;
  color: #FF505C;
  padding: 15px 40px;
  border-radius: 28px;
}

.button-active:hover {
  background-color: #FF7B86;
  color: #fff;
  opacity: 1;
}


header {
  border-bottom-left-radius: 100px;
  position: absolute;
  width: 100%;
  z-index: 20;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 59px;

    .left-nav {
      display: flex;
      align-items: center;
      gap: 64px;

      ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 32px;

        .main-nav-heading {

          .arrow {
            margin-left: 8px;
          }

          .arrow-image-dark {
            display: none;
          }

          a {
            font-weight: 700;
            color: white;
            padding-bottom: 25px;
            opacity: 0.75;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            transform: translateX(-25px);
            background-color: white;
            padding: 24px;
            min-width: 120px;
            border-radius: 5px;
            margin-top: 20px;

            a {
              color: #2D2E40;
              font-size: 15px;
              font-weight: 400;
              line-height: 33px;
            }

            a:hover {
              font-weight: 700;
            }
          }
        }

        .main-nav-heading:hover>a {
          text-decoration: underline;
          opacity: 1;

          .arrow-image-light {
            transform: rotate(180deg);
            transition: 0.6s;
            opacity: 1;
          }
        }

        .main-nav-heading:hover>.dropdown-menu {
          display: block;
        }

      }
    }

    .right-nav {

      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0;
        padding: 0;

        #login {
          opacity: 0.75;
        }

        #login:hover {
          opacity: 1;
        }
      }

    }

    .hamburger-icon {
      display: none;
    }
  }
}

#hero {
  width: 100%;
  background: url(assets/bg-pattern-intro.svg),
    linear-gradient(90deg, rgba(255, 143, 112, 1) 10%, rgba(255, 61, 84, 1) 58%);
  height: 600px;
  background-size: 3100px;
  background-position: -351px -1346px;
  border-bottom-left-radius: 100px;
  color: white;


  .hero-content {
    width: fit-content;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;

    .headings {
      margin-bottom: 43px;

      h1 {
        margin: 0;
      }

      h4 {
        margin: 0;
        text-align: center;

      }
    }

    .hero-buttons {
      display: flex;
      justify-content: center;
      gap: 16px;

      #start-hero-button {
        padding: 15px 16px;
      }

      #learn-hero-button {
        border-radius: 28px;
        border: 1px solid #fff;
        padding: 15px 25px;

        &:hover {
          background-color: #fff;
          color: #FF7B86;
          opacity: 1;
        }
      }
    }
  }
}

#slot-1 {
  margin: 71px 0 213px;

  .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.5fr 1fr;
    position: relative;
    column-gap: 165px;

    h2 {
      color: $header-font-color;
      text-align: center;
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      margin: 79px 0 0;
    }

    .copy {
      max-width: 540px;
      text-align: left;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin: 0 auto;

      section {
        margin-bottom: 64px;

        h3 {
          color: $header-font-color;
          margin: 0 0 16px;
        }

        p {
          color: $copy-color;
          line-height: 28px;
          letter-spacing: 0.5px;
          text-align: left;
          margin: 0;
        }
      }

    }

    picture {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      max-width: 880px;
      max-height: 882px;
      position: absolute;
      right: -240px;
    }
  }
}

#slot-2 {
  background: linear-gradient(90deg,
      rgba(44, 45, 63, 1),
      rgba(63, 65, 96, 1));
  border-radius: 0 100px;
  height: 400px;

  .infrastructure {
    display: grid;
    grid-template-columns: auto auto;
    background: url(assets/bg-pattern-circles.svg);
    height: 100%;
    background-position: -225px -500px;
    background-repeat: repeat-y;
    color: white;
    position: relative;
    z-index: 1;
    justify-content: center;
    column-gap: 98px;

    img {
      transform: translateY(-49px);
    }

    article {
      max-width: 540px;
      height: fit-content;
      transform: translateY(50%);

      h2 {
        margin-bottom: 5px;
      }
    }
  }
}

#slot-3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  height: 786px;
  margin: 116px 0 123px;

  picture {
    position: relative;
    max-width: 699px;
    left: -275px;
    grid-row: 1 / 3;
  }

  article {
    grid-row: 1 / 3;
    max-width: 540px;
  }
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 100px 0 0;
  padding: 70px 0;
  display: flex;
  align-items: flex-start;
  gap: 184px;
  justify-content: center;

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 825px;

    h4 {
      margin-bottom: 21px;
      color: #fff
    }

    a {
      color: #fff;
      opacity: 0.75;
      line-height: 33px;
      font-size: 15px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}