@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@mixin breakpoint($device) {
  @if $device ==desktop {
    @media screen and (min-width: 1024px) {
      @content
    }
  }

  @else if $device ==tablet {
    @media screen and (min-width: 415px) and (max-width: 1023px) {
      @content
    }
  }

  @else if $device ==mobile {
    @media only screen and (max-width: 414px) {
      @content
    }
  }
}

$header-font-color: #1F3E5A;
$copy-color: #4C5862;



:root {
  font-family: "Overpass", "Ubuntu";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  font-family: "Ubuntu", "Overpass";
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
  line-height: 98px;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.2px;
  line-height: 61.28px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.64px;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Ubuntu';
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.button-active {
  background-color: white;
  color: #FF505C;
  padding: 15px 40px;
  border-radius: 28px;
}

.button-active:hover {
  background-color: #FF7B86;
  color: #fff;
  opacity: 1;
}


header {
  border-bottom-left-radius: 100px;
  position: absolute;
  width: 100%;
  z-index: 20;

  .skip-to-content-link {
    background: #fff;
    height: 30px;
    left: 0;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;

    &:focus {
      transform: translateY(0%);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 59px 165px 0;

    .left-nav {
      display: flex;
      align-items: center;
      gap: 64px;

      // ul {

      .main-nav-heading {

        .arrow {
          margin-left: 8px;
        }

        .arrow-image-dark {
          display: none;
        }

        a {
          font-weight: 700;
          color: white;
          padding-bottom: 25px;
          opacity: 0.75;
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          transform: translateX(-25px);
          background-color: white;
          padding: 24px;
          min-width: 120px;
          border-radius: 5px;
          margin-top: 20px;

          a {
            color: #2D2E40;
            font-size: 15px;
            font-weight: 400;
            line-height: 33px;
          }

          a:hover {
            font-weight: 700;
          }
        }
      }

      .main-nav-heading:hover>a {
        text-decoration: underline;
        opacity: 1;

        .arrow-image-light {
          transform: rotate(180deg);
          transition: 0.6s;
          opacity: 1;
        }
      }

      .main-nav-heading:hover>.dropdown-menu {
        display: block;
      }

      // }
    }

    .right-nav {

      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0;
        padding: 0;

        #login {
          opacity: 0.75;
        }

        #login:hover {
          opacity: 1;
        }
      }

    }
  }

}

.desktop-nav {
  display: flex;
  gap: 32px;
}

.hamburger-icon,
.mobile-nav {
  display: none;
}

#hero {
  width: 100%;
  background: url(assets/bg-pattern-intro.svg),
    linear-gradient(90deg, rgba(255, 143, 112, 1) 10%, rgba(255, 61, 84, 1) 58%);
  height: 600px;
  background-size: 3100px;
  background-position: 25% -1346px;
  border-bottom-left-radius: 100px;
  color: white;


  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .headings {
      margin-bottom: 43px;

      h1 {
        margin: 0;
      }

      h4 {
        margin: 0;
        text-align: center;

      }
    }

    .hero-buttons {
      display: flex;
      justify-content: center;
      gap: 16px;

      #start-hero-button {
        padding: 15px 16px;
      }

      #learn-hero-button {
        border-radius: 28px;
        border: 1px solid #fff;
        padding: 15px 25px;

        &:hover {
          background-color: #fff;
          color: #FF7B86;
          opacity: 1;
        }
      }
    }
  }
}

#slot-1 {
  margin: 71px 0 213px;
  padding-top: 71px;


  h2 {
    color: $header-font-color;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-bottom: 50px;
    // margin: 79px 0 93px;
  }

  .content {
    column-gap: 125px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    align-items: center;


    .copy {
      // width: 100%;
      max-width: 540px;
      text-align: left;
      grid-column: 1 / 2;
      // grid-row: 2 / 3;
      margin-left: 165px;
      padding-top: 70px;

      // section:nth-child(1) {
      section {
        margin-bottom: 64px;

        h3 {
          color: $header-font-color;
          margin: 0 0 16px;
        }

        p {
          color: $copy-color;
          line-height: 28px;
          letter-spacing: 0.5px;
          text-align: left;
          margin: 0;
        }
      }
    }

    picture {
      // grid-row: 1 / 3;
      grid-column: 2 / 3;
      transform: scale(1.5) translateX(10%);
      // padding-top: 71px;

      img {
        max-width: 100%;
        height: auto;
        min-width: 300px;
      }
    }
  }
}

#slot-2 {
  background: linear-gradient(90deg,
      rgba(44, 45, 63, 1),
      rgba(63, 65, 96, 1));
  background-repeat: no-repeat;
  border-radius: 0 100px;
  height: 400px;
  position: relative;

  .infrastructure {
    background: url(assets/bg-pattern-circles.svg);
    background-position: 50% -500px;
    background-repeat: no-repeat;
    border-radius: 0 100px;
    // display: grid;
    // grid-template-columns: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 115px;
    height: 100%;
    color: white;
    // position: relative;
    // z-index: 1;
    // justify-content: space-around;

    img {
      transform: translateY(40px);
      margin-left: 125px; //Theres a bit of spacing in the image
    }

    article {
      max-width: 540px;
      margin-right: 100px;
      // height: fit-content;
      // transform: translateY(50%);

      h2 {
        margin-bottom: 5px;
      }
    }
  }
}

#slot-3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  height: 786px;
  margin: 116px 0 123px;
  justify-content: space-between;
  column-gap: 98px;

  picture {
    position: relative;
    max-width: 699px;
    left: -275px;
    grid-row: 1 / 3;
  }

  article {
    grid-row: 1 / 3;
    max-width: 540px;
    margin-right: 80px;

    h3 {
      color: #1F3E5A;
    }

    section:nth-child(1) {
      margin-bottom: 64px;
    }
  }
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0 100px 0 0;
  padding: 70px 0;
  display: flex;
  align-items: flex-start;
  // gap: 100px;
  justify-content: space-evenly;

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 825px;
    font-family: "Ubuntu", "Overpass";

    h4 {
      margin-bottom: 21px;
      color: #fff;
      line-height: 33px;
    }

    a {
      color: #fff;
      opacity: 0.75;
      line-height: 33px;
      font-size: 15px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1225px) and (min-width: 1024px) {

  header {
    nav {
      padding: 59px 100px 0;
    }
  }

  #slot-1 {
    .content {
      .copy {
        margin-left: 100px;
      }
    }
  }

  #slot-2 {
    .infrastructure {
      column-gap: 50px;

      img {
        margin-left: 65px;
      }

      article {
        margin-right: 50px;
      }
    }
  }

  #slot-3 {
    column-gap: unset;
  }
}

@media screen and (max-width: 1023px) {

  h4 {
    font-size: 18px;
    line-height: 28px;
  }

  header {
    nav {
      justify-content: space-between;
    }

    .mobile-nav {
      margin-top: 37px;

      .mobile-dropdown-background {
        top: 0;
        position: absolute;
        left: 0;
        height: 100dvh;
        width: 100dvw;
        z-index: 0;
      }

      .mobile-dropdown {
        background-color: #fff;
        padding: 24px;
        min-width: 324px;
        margin: 34px 75px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
        position: relative;
        z-index: 1;

        .nav-option {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          color: #1F3E5A;
          font-family: "Overpass", "Ubuntu";
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0px;


          svg {
            margin-left: 8px;
            transition: 0.6s;
            // opacity: 1;
          }

          svg.rotate {
            transform: rotate(180deg);
          }

          .dropdown-menu {
            display: none;
            flex-direction: column;
            gap: 12px;
            margin-top: 24px;
            padding: 17px 0px 25px;
            width: 100%;
            align-items: center;
            position: relative;

            &::after {
              content: "";
              background-color: #2D2E40;
              opacity: 0.08;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            a {
              color: #1F3E5A;
              font-family: "Overpass";
              font-size: 18px;
              line-height: 28px;
              letter-spacing: 0px;
            }
          }
        }

        .nav-option-selected {
          opacity: 0.75;

          .dropdown-menu {
            display: flex;
          }
        }

        .mobile-account-section {
          padding-top: 24px;
          border-top: 1px solid #E8E4E4;
          width: 100%;

          a {
            text-align: center;
          }


          #mobile-login {
            color: #1F3E5A;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
            background-color: transparent;
            border: none;
            margin-bottom: 24px;
          }

          #mobile-sign-up {
            padding: 15px 40px;
            background: linear-gradient(90deg, #FF8F71 10%, #FF3E55 58%);
            color: #fff;
            border-radius: 28px;
            border: none;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0px;
          }
        }

      }
    }
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  #hero {
    .hero-content {
      .headings {
        margin-bottom: 48px;
      }

    }
  }

  #slot-1 {
    margin-bottom: 273px;

    .content {
      display: flex;
      flex-direction: column-reverse;
      gap: 46px;

      .copy {
        text-align: center;
        margin: 0 75px;
        max-width: unset;
        padding-top: unset;

        section {
          p {
            text-align: inherit;
          }
        }
      }

      picture {
        transform: scale(1.5);
        margin-bottom: 92px;
      }
    }
  }

  #slot-2 {
    height: unset;

    &::before {
      background-position-x: 50%;
    }

    .infrastructure {
      // background-repeat: no-repeat;
      // background-position: 50% -500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      // max-height: 625px;

      img {
        max-height: 347px;
        transform: scale(1.5) translateY(-100px);
        margin-left: unset;
      }

      article {
        min-height: 327px;
        max-width: 100%;
        height: unset;
        transform: unset;
        display: flex;
        flex-direction: column;
        padding: 0 75px;
        text-align: center;
        margin-right: unset;

        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }

  #slot-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    picture {
      left: unset;
      position: unset;
      max-width: unset;
    }

    article {
      text-align: center;
      margin-right: unset;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {

  h1 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.08px;
  }

  header {
    nav {
      padding: 56px 75px 0;
    }
  }

  #hero {
    background-size: 200%;
    background-position: -175px 50%;
  }

  #slot-1 {
    h2 {
      margin-bottom: 92px;
    }

    .content {
      picture {
        margin-top: 38px;
      }

      .copy {
        padding-top: unset;
      }
    }
  }

  #slot-3 {
    gap: 80px;

    picture {
      transform: scale(1.5);
    }
  }

  footer {
    padding: 70px 75px;
    justify-content: space-between;
    gap: 72px;

    nav {
      width: 500px;
    }
  }
}

@media screen and (max-width: 767px) {

  h1 {
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -1.08px;
  }

  header {
    nav {
      padding: 56px 24px 0;
    }
  }

  #hero {
    background-size: 200%;
    background-position: -100px;


    .hero-content {

      .headings {
        text-align: center;
        max-width: calc(100% - 48px);
        margin: 0 auto 38px;
      }
    }
  }

  #slot-1 {
    h2 {
      font-size: 28px;
      line-height: 43px;
      letter-spacing: -0.84px;
      margin-bottom: 38px;
    }

    .content {
      picture {
        transform: unset;
        margin: 0;
        padding: 0;
      }

      .copy {
        margin: 0 24px;
      }
    }
  }

  #slot-2 {
    height: 625px;

    .infrastructure {
      img {
        max-height: 498px;
        // width: 75%;
        // height: auto;
        transform: translateY(-225px);
      }

      article {
        transform: translateY(-250px);
        padding: 0 24px;
      }
    }
  }

  #slot-3 {
    height: unset;
    margin: 79px 24px 0px;
  }

  footer {
    margin-top: 100px;
    padding: 75px 0px;
    flex-direction: column;
    align-items: center;
    gap: 72px;

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 40px;

      a {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #hero {
    background-size: 1450px;
    background-position: -400px 35%;
  }

  #slot-2 {
    .infrastructure {
      img {
        max-height: 410px;
      }
    }
  }
}


@media screen and (max-width: 374px) {
  #slot-2 {
    .infrastructure {
      img {
        max-height: 300px;
        transform: translateY(-145px);
      }

      article {
        transform: translateY(-145px);
      }
    }
  }
}