@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  font-family: "Overpass", "Ubuntu";
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
  line-height: 98px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30.64px;
}

header {
  //background: url(images/bg-pattern-intro.svg),
  //linear-gradient(90deg, rgba(255, 143, 112, 1) 10%, rgba(255, 61, 84, 1) 58%);
  // height: 500px;
  // margin: auto auto 75px;
  //background-size: 3100px;
  //background-position: -351px -1346px;
  border-radius: 0 0 0 75px;
  //color: white;
  position: relative;
  z-index: 20;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 59px;

    .left-nav {
      display: flex;
      align-items: center;
      gap: 64px;

      ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 32px;
        //   // margin-bottom: 20px;

        .main-nav-heading {

          .arrow {
            margin-left: 8px;
          }

          .arrow-image-dark {
            display: none;
          }

          a {
            color: white;
            padding-bottom: 20px;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            transform: translateX(-25px);
            background-color: white;
            padding: 24px;
            min-width: 120px;
            border-radius: 5px;
            margin-top: 20px;

            a {
              color: #2D2E40;
              font-size: 15px;
              line-height: 33px;
              font-family: "Ubuntu", "Overpass";
            }

            a:hover {
              font-weight: 700;
            }
          }
        }

        .main-nav-heading:hover>.dropdown-menu {
          display: block;
        }

        .main-nav-heading:hover a>.arrow-image-light {
          transform: rotate(180deg);
          transition: 0.6s;
        }
      }
    }

    .right-nav {

      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0;
        padding: 0;
      }

      .account-btn {
        border-radius: 28px;
        border-color: transparent;
        background-color: transparent;
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Ubuntu';
        // height: 30px;
        cursor: pointer;
      }

      .sign-up {
        background-color: white;
        color: #FF505C;
        padding: 15px 40px;
      }

    }

    .hamburger-icon {
      display: none;
    }
  }
}

main {

  #hero {
    position: fixed;
    top: 0;
    width: 100%;
    background: url(assets/bg-pattern-intro.svg),
      linear-gradient(90deg, rgba(255, 143, 112, 1) 10%, rgba(255, 61, 84, 1) 58%);
    height: 600px;
    background-size: 3100px;
    background-position: -351px -1346px;
    border-radius: 0 0 0 75px;
    color: white;


    .hero-content {
      width: fit-content;
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      left: 50%;

      .headings {
        margin-bottom: 43px;

        h1 {
          margin: 0;
        }

        h4 {
          margin: 0;
          text-align: center;

        }
      }
    }

  }
}